{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{# Navbar #}
{% if page.header %}
	{% block navbar %}
		{%
			set navbar_classes = [
				'container-fluid',
			]
		%}
		{{ page.header.cookiesnotification }}
		<header{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">
			<div class="row hidden-xs desktop-navigation">
				<div class="col-sm-12 menu-desktop">
					{{ page.header|without('cookiesnotification') }}
				</div>
			</div>
			<div class="row visible-xs mobile-navigation">
				<a href="/" id="cit-logo-mobile" aria-label="Voltar a página inicial">
					<div class="col-xs-4">
						<img class="ciandt-logo light" src="/{{ directory }}/images/ciandt-logo-for-light.png" alt="logo CI&T"/>
					</div>
				</a>
				<div class="col-xs-2 col-xs-offset-6 text-right">
					<button class="btn btn-link mobile-nav-button">
						<img class="expand" src="/{{ directory }}/images/mobile-nav-button-close.png" />
						<i class="fa fa-align-right black" src="/{{ directory }}/images/mobile-nav-button-open-black.png"></i>
					</button>
				</div>

				<div class="mobile-nav-list-wrapper">
					<img class="ciandt-logo" src="/{{ directory }}/images/ciandt-logo-for-light.png" />
					{{ page.header|without('cookiesnotification') }}
				</div>
			</div>
		</header>
	{% endblock %}
{% endif %}

{# Main #}
{% block main %}
	<main class="container-fluid pagelayout-wrapper">

		{# Breadcrumbs #}
		{{ page.breadcrumbs }}

		{# Content #}
		{{ page.content }}
		{{ page.forms }}
	</main>
{% endblock %}

{% if page.footer %}
	{% block footer %}
		<footer class="container-fluid footer {{ container }}" role="contentinfo">
			<div class="row">
				{{ page.footer }}
			</div>
		</footer>
	{% endblock %}
{% endif %}
