<div class="container">
  <div class="row">
    <div class="col-sm-1 text-center event-date">
      {{list.date|raw}}
    </div>
    <div class="col-sm-11 text-left">
      <h1>{{list.title|e}}</h1>
    </div>
  </div>
  <div class="event-detail-page">
  <div class="row">
    <div class="col-xs-12">
      <div class="image"><img src="{{ file_url(list.image) }}" alt=""></div>
      <div class="col-xs-8 description text1 gray">{{ list.description|raw }}</div>
      <div id="map" class="col-xs-12 location"><h2>{{ list.location }}</h2></div>
      <iframe width="100%" height="350px" frameborder="0" style="border:0" src="https://maps.google.com/maps?hl=en&amp;q={{ list.location }}&amp;t=m&amp;z=14&amp;output=embed"></iframe>
      <div class="col-xs-12 attenders">
        <h2>List of attenders:</h2>
        <div>
          {% for data in list.attendees %}
            <a href="/node/{{data.id}}">{{data.name}}</a> |
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 button-join">
      <a href="" class="join">{{list.button}}</a>
    </div>
  </div>
</div>
